<div class="col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 pt-10">
    <div class="main-container text-center">
        <i class="icon icon-sin-resultados align-middle fa-4x text-warning"></i>

        <h1 class="listTitle text-warning">403</h1><br>

        <div class="panel-body">
            <strong>Acceso no autorizado.</strong><br>
        </div>
        <br>
        <br>
        <a class="col-form-label add-register-item cursor" (click)="goLogin()"
           data-toggle="tooltip" data-placement="bottom" title="Volver">
            <i class="icon icon-back align-middle fa-xl"></i>
            Ir al inicio de sesi&oacute;n
        </a>        
    </div>
</div>