<aside class="app-sidebar">

    <!--Menu items-->
    <ul class="app-menu">

        <!--Entity Selected-->
        <li class="imp-item-selected">
            <a class="add-option float-right" 
               data-toggle="tooltip" data-placement="bottom" title="Cambiar">
                <span class="app-menu__label"><i
                        class="icon icon-implementador fa-xl align-middle text-white"></i></span>
            </a>
            <a class="app-menu__item text-white">
                <span class="app-menu__label imp-item"
                      data-toggle="tooltip" data-placement="bottom" title="Inicio">
                        Inicio
                </span>
            </a>
        </li>

    </ul>
</aside>
