// Basic Colors
$navy: #40A078; // Primary color
$dark-gray: #c2c2c2; // Default color
$blue: #1c84c6; // Success color
$lazur: #23c6c8; // Info color
$yellow: #f8ac59; // Warning color
$red: #ED5565; // Danger color

//Palet Color
$white: #fff;

// Various colors
$text-color: #676a6c; // Body text
$side-dropdownd: #F0F0F7; // Body text
$gray: #FAFAFA; // Background body color
$gray2: #F0F0F7;
$gray3: #C8C8D2;
$gray4: #313138;
$purple-dark: #2E3192;
$purple: #583F98;
$over: #583F98;
$press: #2A165D;
$light-green: #00A9A5;
$danger: #EF0028;
$warning: #DCB121;
$success: #00A9A4;
$rojo: #DB2228;
$marron: #91090E;
$ddd: #ddd;

//Sidebar Form
$sidebar-width: 220px;

//Border radius for buttons
$btn-border-radius: 2px;

//Border radius for modals
$md-border-radius: 6px;

//Border radius for inputs
$inp-border-radius: 2px;

//General var
$font-size: 0.9em;
$font-size-scnd: 0.8em;
$header-height: 3.58rem;
$header-height-mobile: 12rem;
$side-menu-width: 250px;
$side-menu-width-mobile: 55px;



